<div class="card">
    <div class="card-header">
        Detalle de Médico
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h5>
        <p class="card-text">
            DNI: {{ doctor.dni }}<br>
            Género: {{ doctor.get_gender_display }}<br>
            Especialidad: {{ doctor.get_specialty_display }}<br>
            Nombre de usuario: {{ doctor.user.username }}<br>
            Correo electrónico: {{ doctor.user.email }}<br>
            Última sesión: {{ doctor.user.last_login|default:"Nunca" }}<br>
            Fecha de registro: {{ doctor.user.date_joined }}<br>
        </p>
    </div>
</div>